html, body{
    //z-index: 1;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}


#scene {
  width: 100vw;
  height: calc( 100vh - 50px) ;
  touch-action: none;


}


.editor {
  textarea {
    background-color: black;
    color: white;
    width: 100vw;
    height: 400px;
    padding: 5px;
  }

}