html, body{
    //z-index: 1;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}


#scene {
  width: 100vw;
  height: 100vh;
  touch-action: none;


}


.editor {
  textarea {
    width: 100vw;
    height: 100vh;
    padding: 5px;
  }

}