html, body{
    //z-index: 1;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}


#scene {
  z-index: 1;
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  touch-action: none;


}


.editor {
  position: absolute;
  z-index: 2;
  pointer-events: none;



  textarea {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    margin-top: calc(100vh - 10vh);
    width: 100vw;
    height: 400px;
    padding: 5px;
  }

}